.navbar{
  background-color: #ddd;
  display: flex;
}
.container{
  margin: 0 auto;
  width: 1200px;
}

.menu{
  padding-left: 0;
  display: flex;
}

.menuItem{
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
}

.link{
  text-decoration: none;
  color: black;
}
